
/*** ./320fgrid.css ***/
.grid320 {
    display: flex;
    height: 100%;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    z-index: 10;
    opacity: 0.06;
    transform: translateY(-100%);
    width: 320px;
    height: 3681px;
}

.grid320line {
    height: 3681px;
    margin: 0;
    padding: 0;
}

.start {
    width: 4.4%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

.end {
    width: 4.3%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

.vis {
    width: 7.3%;
    background-image:
    linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 0, 1));
}

.invis {
    width: 9.5%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

/*** ./verical.css ***/
.all {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    z-index: 100;
    opacity: 1;
    width: 320px;
    height: 3681px;
}

.top {
    flex-basis: 641px;
    align-content: stretch;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    background:
        url(../img/image\ 2.png),
        linear-gradient(rgb(27, 45, 55), rgb(27, 45, 55));
    ;
    background-size: contain; /*1446.5px 661.47px;*/
    background-position: -624.18px -14.47px;

}

.desc {
    flex-basis: 606px;
    background-image: linear-gradient(to right, green, magenta);
    align-content: stretch;
}

.photos {
    flex-basis: 1106px;
    background-image: linear-gradient(to right, blue, red);
    align-content: stretch;
}

.blue {
    flex-basis: 636px;
    background-image: linear-gradient(to right, gray, brown);
    align-content: stretch;
}


.bottom {
    flex-basis: 692px;
    background-image: linear-gradient(to right, violet, gray);
    align-content: stretch;
}

/*** ./top.css ***/
.header {
    margin-top: 0px;
    margin-left: 17px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.env91 {
    width: 38px;
    height: 38px;
    padding: 0;
    margin: 0;
    transform: translateY(17px);
}

.gap113 {
    min-width: 113px;
}

.group20 {
    width: 37px;
    height: 13px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 0;
    transform: translateY(27px);
}

.gap27 {
    min-width: 27px;
}


.env18 {
    width: 25.33px;
    height: 18.67;
    padding: 0;
    transform: translateY(25px);
}

.gap23 {
    min-width: 23.33px;
}

.env17 {
    width: 24px;
    height: 24px;
    padding: 0;
    transform: translateY(22px);
}

.u12 {
    width: 301px;
    height: 220px;
    transform: translate(12px, 37px);
    z-index: 12;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



/*** ./topinfo.css ***/
.topinfo {
    margin: 0;
    padding: 0;
}

.whatabout {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 38.4px;
    line-height: 41px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 13;
    margin-top: 12px;
    margin-left: 0px;
}

.detailed-a {
    width: 33px;
    margin-top: 42px;
    border-bottom: 2px solid white;
}

.detailed-b {
    margin-top: 30px;
    padding-left: 15px;
    font-family: PT Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 156.8%;
    letter-spacing: 0;
    text-align: left;
    color: #FFFFFF;
}

.freeconsult-button {
    border: none;
    padding: 0;
    border-radius: 5px;
    background-color: #00b2ff;
    width: 287px;
    height: 55px;
    color: white;
    margin-top: 42px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #00B2FF;
    position: relative;
}

.freeconsult-text {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;

    position: absolute;
    width: 265px;
    height: 24px;
    left: 11px;
    top: 17px;
}

.polygon {
    width: 1446.5;
    height: 715.72;
    transform: scale(0.98) translate(5px, -5px);
    position: absolute;
    left: 10px;
    top: -2px;
    z-index: 11;
}

