
/*** ./320fgrid.css ***/
.grid320 {
    display: flex;
    height: 100%;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    z-index: 10;
    opacity: 0.06;
    transform: translateY(-100%);
    width: 320px;
    height: 4869px;
}

.grid320line {
    height: 4869px;
    margin: 0;
    padding: 0;
}

.start {
    width: 4.4%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

.end {
    width: 4.3%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

.vis {
    width: 7.3%;
    background-image:
    linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 0, 1));
}

.invis {
    width: 9.5%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

/*** ./verical.css ***/
.all {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    z-index: 100;
    opacity: 1;
    width: 320px;
    height: 4869px;
    border: 1.5px solid #999999;
    clip-path: stroke-box;
}

.top {
    flex-basis: 641px;
    align-content: stretch;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    background:
        url(../img/image\ 2.png),
        linear-gradient(rgb(27, 45, 55), rgb(27, 45, 55));
    ;
    background-size: contain; /*1446.5px 661.47px;*/
    background-position: -624.18px -14.47px;

}

.photos {
    flex-basis: 1106px;
    background-image: linear-gradient(to right, #1B2D37, #1B2D37);
    align-content: stretch;
}

.blue {
    flex-basis: 636px;
    background-image: linear-gradient(to right, #00b2ff, #00b2ff);
    align-content: stretch;
}


.bottom {
    flex-basis: 692px;
    background-image: linear-gradient(to right, white, white);
    align-content: stretch;
}

/*** ./top.css ***/
.header {
    margin-top: 0px;
    margin-left: 17px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.env91 {
    width: 38px;
    height: 38px;
    padding: 0;
    margin: 0;
    transform: translateY(17px);
}

.gap113 {
    min-width: 113px;
}

.group20 {
    width: 37px;
    height: 13px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 0;
    transform: translateY(27px);
}

.gap27 {
    min-width: 27px;
}


.env18 {
    width: 25.33px;
    height: 18.67;
    padding: 0;
    transform: translateY(25px);
}

.gap23 {
    min-width: 23.33px;
}

.env17 {
    width: 24px;
    height: 24px;
    padding: 0;
    transform: translateY(22px);
}

.u12 {
    width: 301px;
    height: 220px;
    transform: translate(12px, 37px);
    z-index: 12;
    box-sizing: border-box;
}



/*** ./topinfo.css ***/
.topinfo {
    margin: 0;
    padding: 0;
}

.whatabout {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 38.4px;
    line-height: 41px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 13;
    margin-top: 12px;
    margin-left: 15px;
}

.detailed-a {
    width: 33px;
    margin-top: 42px;
    border-bottom: 2px solid white;
}

.detailed-b {
    margin-top: 30px;
    padding-left: 15px;
    font-family: PT Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 156.8%;
    letter-spacing: 0;
    text-align: left;
    color: #FFFFFF;
}

.freeconsult-button {
    border: none;
    padding: 0;
    border-radius: 5px;
    background-color: #00b2ff;
    width: 287px;
    height: 55px;
    color: white;
    margin-top: 42px;
    position: relative;
}

.freeconsult-text {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;

    position: absolute;
    width: 265px;
    height: 24px;
    left: 11px;
    top: 17px;
}

.polygon {
    width: 1446.5;
    height: 715.72;
    transform: scale(0.98) translate(5px, -5px);
    position: absolute;
    left: 10px;
    top: -2px;
    z-index: 11;
}


/*** ./desc.css ***/
.desc {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    height: 1794px;
    align-content: center;
}

.info {
    margin-left: 14px;
    margin-right: 16px;
    margin-top: 20px;
    width: 290px;
    border: 1px solid #ebebeb;
    border-left: 1.99px solid #00B2FF;
    display: flex;
    flex-direction: column;
}

.info-first {
    margin-top: 37px;
}

.terms-img {
    align-self: flex-start;
    margin: 24.55px auto auto 27.52px;
}

.hired-img {
    align-self: flex-start;
    margin: 23.55px auto auto 27.13px;
}

.detective-img {
    align-self: flex-start;
    margin: 27px auto auto 27.52px;
}

.tag-img {
    align-self: flex-start;
    margin: 24.55px auto auto 27.62px;
}

.header-base {
    height: 20.86px;
    color: #00b2ff;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: left;
}

.terms {
    width: 250.75px;
    line-height: 140.62%;
    margin-left: 27.28px;
    margin-top: 14.13px;
}

.customers {
    width: 247.17px;
    line-height: 140.6%;
    margin-left: 26.89px;
    margin-top: 18.41px;
}

.confidential {
    width: 246.15px;
    line-height: 140.6%;
    margin-left: 27.28px;
    margin-top: 14.04px;
}

.pvalue {
    width: 233px;
    line-height: 140.6%;
    margin-left: 27.38px;
    margin-top: 13.41px;
}

.infotext {
    display: inline-block;
}

.mono-text {
    font-family: PT Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

.terms-text {
    line-height: 134.4%;
    text-align: left;
    letter-spacing: 0;
    width: 245px;
    height: 160px;

    margin: 16.99px auto 38px 26.91px;

    color: #666666;
}

.customers-text {
    line-height: 134.4%;
    text-align: left;
    letter-spacing: 0;
    width: 251.13px;
    height: 182px;

    margin: 16.99px auto 16px 15.91px;

    color: #666666;
}

.confidence-text {
    line-height: 134.4%;
    text-align: left;
    letter-spacing: 0;
    width: 251.13px;
    height: 63px;

    margin: 28px auto 54px 26.9px;

    color: #666666;
}

.pvalue-text {
    line-height: 134.4%;
    text-align: left;
    letter-spacing: 0;
    width: 249px;
    height: 63px;

    margin: 10.86px auto 71px 27px;

    color: #666666;
}

.article-caption {
    display: inline-block;
    margin: 60.21px 18.79px auto 14px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 140.62%;
    color: #666666;
}

.article-text {
    margin: 18.79px 15px 173px 17px;
    width: 288px;
    height: 201px;
    display: inline-block;
    line-height: 22px;

    color: #666666; 
}

.aricle {}

.detailed {
    margin: 0px auto 65px 17px;
    padding: 0;
    border: solid 1px #00b2ff;
    border-radius: 5px;
    width: 180px;
    height: 45px;
    background-color: white;
    flex-shrink: 0;
    box-sizing: border-box;
}

.det-button-text {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    
    color: #00B2FF;
}
