.grid320 {
    display: flex;
    height: 100%;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    z-index: 10;
    opacity: 0.06;
    transform: translateY(-100%);
    width: VAR(grid320-width);
    height: VAR(grid320-height);
}

.grid320line {
    height: VAR(grid320-height);
    margin: 0;
    padding: 0;
}

.start {
    width: VAR(grid320-width-of-start-line);
    background-image: linear-gradient(VAR(grid320-background-color-invisible), VAR(grid320-background-color-invisible));
}

.end {
    width: VAR(grid320-width-of-end-line);
    background-image: linear-gradient(VAR(grid320-background-color-invisible), VAR(grid320-background-color-invisible));
}

.vis {
    width: VAR(grid320-width-of-visible-line);
    background-image:
    linear-gradient(to right, VAR(grid320-background-color-visible), VAR(grid320-background-color-visible));
}

.invis {
    width: VAR(grid320-width-of-invisible-line);
    background-image: linear-gradient(VAR(grid320-background-color-invisible), VAR(grid320-background-color-invisible));
}