.header {
    margin-top: 0px;
    margin-left: 17px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.env91 {
    width: 38px;
    height: 38px;
    padding: 0;
    margin: 0;
    transform: translateY(17px);
}

.gap113 {
    min-width: 113px;
}

.group20 {
    width: 37px;
    height: 13px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 0;
    transform: translateY(27px);
}

.gap27 {
    min-width: 27px;
}


.env18 {
    width: 25.33px;
    height: 18.67;
    padding: 0;
    transform: translateY(25px);
}

.gap23 {
    min-width: 23.33px;
}

.env17 {
    width: 24px;
    height: 24px;
    padding: 0;
    transform: translateY(22px);
}

.u12 {
    width: 301px;
    height: 220px;
    transform: translate(12px, 37px);
    z-index: 12;
    box-sizing: border-box;
}

