.header {
    margin-top: 0px;
    margin-left: 16px;
    padding: 0;
}

.env91 {
    width: 35.2px;
    padding: 0;
    margin-right: 108.8px;
}

.rightelement {
    display:inline-block;
}

.righttop {
    width: 131.2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-11px);
}

.group20 {
    width: 32px;
    height: 8px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 0;
}

.env18 {
    width: 22.4px;
    padding: 0;
}

.env17 {
    width: 22.4px;
    padding: 0;
}
