.topinfo {
    margin: 0;
    padding: 0;
}

.u12 {
    width: 90vw;
    transform: translate(8vw, 4vh);
}

.whatabout {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 12vw;
    line-height: 7vh;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #FFFFFF;
    transform: translate(3vw, 0vh);
}

.detailed-a {
    float: left;
    content: '';
    width: 10vw;
    border-bottom: 1px solid white;
    transform: translate(5vw, 5.5vh);
}

.detailed-b {
    float: right;
    font-family: PT Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 4.8vw;
    line-height: 3.5vh;
    color: #FFFFFF;
    transform: translate(-8vw, 4vh);
}

.freeconsult {
    border: none;
    padding: 0;
    border-radius: 2vw;
    background-color: #00b2ff;
    width: 87vw;
    height: 10vh;
    color: white;
    transform: translate(5vw, 12vh);

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 6vw;
    line-height: 10vh;
    text-align: center;
    letter-spacing: 0.05vw;
    text-transform: uppercase;
}

.polygon {
    position: absolute;
    left: 34vw;
    top: 30vh;
    transform: scale(3.8);
}