.topinfo {
    margin: 0;
    padding: 0;
}

.u12 {
    width: 28px;
    transform: translate(25.6px, 20px);
}

.whatabout {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 38.4px;
    line-height: 41px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #FFFFFF;
    transform: translate(9.6px, 0px);
}

.detailed-a {
    float: left;
    content: '';
    width: 32px;
    border-bottom: 1px solid white;
    transform: translate(16px, 32px);
}

.detailed-b {
    float: right;
    font-family: PT Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 15.36px;
    line-height: 20px;
    color: #FFFFFF;
    transform: translate(-25.6px, 23px);
}

.freeconsult {
    border: none;
    padding: 0;
    border-radius: 6.4px;
    background-color: #00b2ff;
    width: 278.4px;
    height: 60px;
    color: white;
    transform: translate(16px, 71px);

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 19.2px;
    line-height: 0.6px;
    letter-spacing: 0.16px;
    text-align: center;
    text-transform: uppercase;
}

.polygon {
    position: absolute;
    left: 108.8px;
    top: 17px;
    transform: scale(3.8);
}
