.topinfo {
    margin: 0;
    padding: 0;
}

.whatabout {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 38.4px;
    line-height: 41px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 13;
    margin-top: 12px;
    margin-left: 0px;
}

.detailed-a {
    float: left;
    content: '';
    width: 32px;
    border-bottom: 1px solid white;
    transform: translate(16px, 32px);
}

.detailed-b {
    float: right;
    font-family: PT Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 15.36px;
    line-height: 20px;
    color: #FFFFFF;
    transform: translate(-25.6px, 23px);
}

.freeconsult {
    border: none;
    padding: 0;
    border-radius: 6.4px;
    background-color: #00b2ff;
    width: 278.4px;
    height: 60px;
    color: white;
    transform: translate(16px, 71px);

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 19.2px;
    line-height: 0.6px;
    letter-spacing: 0.16px;
    text-align: center;
    text-transform: uppercase;
}

.polygon {
    width: 1446.5;
    height: 715.72;
    position: absolute;
    left: 10px;
    top: -2px;
    z-index: 11;
}
