.all {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    z-index: 100;
    opacity: 1;
    width: VAR(grid320-width);
    height: VAR(grid320-height);
    border: 1.5px solid #999999;
    clip-path: stroke-box;
}

.top {
    flex-basis: VAR(grid320-main-section-top-height);
    align-content: stretch;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    background:
        url(../img/image\ 2.png),
        linear-gradient(rgb(27, 45, 55), rgb(27, 45, 55));
    ;
    background-size: contain; /*1446.5px 661.47px;*/
    background-position: -624.18px -14.47px;

}

.photos {
    flex-basis: VAR(grid320-main-section-photos-height);
    background-image: linear-gradient(to right, #1B2D37, #1B2D37);
    align-content: stretch;
}

.blue {
    flex-basis: VAR(grid320-main-section-blue-height);
    background-image: linear-gradient(to right, #00b2ff, #00b2ff);
    align-content: stretch;
}


.bottom {
    flex-basis: VAR(grid320-main-section-bottom-height);
    background-image: linear-gradient(to right, white, white);
    align-content: stretch;
}