.all {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    z-index: 100;
    opacity: 1;
    width: VAR(grid320-width);
    height: VAR(grid320-height);
    border: 2px solid #666666;
    clip-path: stroke-box;
}

.top {
    flex-basis: VAR(grid320-main-section-top-height);
    align-content: stretch;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    background:
        url(../img/image\ 2.png),
        linear-gradient(rgb(27, 45, 55), rgb(27, 45, 55));
    ;
    background-size: contain; /*1446.5px 661.47px;*/
    background-position: -624.18px -14.47px;

}

.photos {
    flex-basis: VAR(grid320-main-section-photos-height);
    background-image: linear-gradient(to right, blue, red);
    align-content: stretch;
}

.blue {
    flex-basis: VAR(grid320-main-section-blue-height);
    background-image: linear-gradient(to right, gray, brown);
    align-content: stretch;
}


.bottom {
    flex-basis: VAR(grid320-main-section-bottom-height);
    background-image: linear-gradient(to right, violet, gray);
    align-content: stretch;
}